* {
    box-sizing: border-box;
}

main {
    margin: 0 auto;
    max-width: 1100px;
}

h1 {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 600;
    font-size: 38px;
    color: #000000;  
}

h3 {
    margin-bottom: 10.8px;
    line-height: 33.75px;
    font-family: 'Gemunu Libre', Helvetica, sans-serif;
    font-size: 28.125px;
    font-weight: 500;
    color: #424242; 
}

figure {
    margin: 0;
}

article p {
    margin-bottom: 21.6px;
    line-height: 28.8px;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #424242;
}

article p a {
    color:#e2127A;
    cursor: pointer;
}

article p a:hover {
    color: #a32a66fa;
    text-decoration: none;
}

aside {
    position: relative;
    margin-left: 5%;
    width: 45%;
    letter-spacing: 0.72px;
    line-height: 36px;
    padding-top: 18px;
    padding-right: 22.5px;
    float: right;
    font-family: 'Gemunu Libre', Helvetica, sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 600;
    color: #e2127A; 
}

aside q::before {
    content: "";
}

#main-nav {
    padding: 8px 0;
    background-color: #000; 
}

#main-nav .logo {
    width: 180px;
    margin-right: 20px;
}

#main-nav a {
    display: flex;
    display: block;
    align-items: center;
    justify-content: center;
    height: inherit;
    background-color: #000;
    color:#ffffff;
    font-family: 'Gemunu Libre', Arial, Helvetica, sans-serif;
    text-decoration: none;
    white-space: nowrap;
    margin-right: 20px;
}

#main-nav ul {
    display: flex;   
    margin: 0;
    padding: 0;
    list-style: none;
}

#main-nav .nav-container {
    display: flex;
    align-items: center;
    max-width: 1100px;
    margin: auto;
}

#main-nav li {
    text-align: center;
    position: relative;
    width: 100%;
}

#main-nav li:hover .submenu > li {
    display: block;
    top: 0px
}

.submenu li {
    display: none;
    position: absolute;
    width: 100%;
    min-width: 150px;
}

.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}

.arrow {
    margin-left: 4px;
    font-size: 7px;
    color: #e2127A;
}

.arrow:hover {
    color:#ffffff
}

#links {
    margin-top: 16px;
}

#links a {
    padding-top: 8px;
    padding-right: 14px;
    font-family: 'Gemunu Libre', Helvetica, sans-serif;
    font-size: 15.3px;
    font-weight: 500;
    line-height: 15.3px;
    letter-spacing: 1.071px;
    text-decoration: none;
}

#links span:nth-child(1) a {
    color: #EC008A;
}

#links span:nth-child(2) a {
    color: #372b94;
}

#links span:nth-child(3) a {
    color: #f02d25;
}

h1.title {
    margin-top: 10px;
    width: 80%;
}

.summary {   
    font-family: 'Open Sans', sans-serif;
    font-size: 21.6px;
    font-style: italic;
    font-weight: 400;
    color: #6A6A6A;
}

.author-container {    
    font-family: Helvetica, sans-serif;
    font-size: 13.5px;
    font-weight: 300;
    color: #6A6A6A;
}

.author-container a {
    text-decoration: none;
    color: #e2127A;
}

.author-container a:hover {
    color: #a32a66fa;
}

p.disclosure {    
    font-family: Helvetica, sans-serif;
    font-size: 13.5px;
    font-style: italic;
    font-weight: 400;
    color: #6A6A6A;
}

p.disclosure a {
    text-decoration: none;
    color: #e2127A;
}

p.disclosure a:hover {
    color:#e2127A;
}

.container {
    width: 73%;
}

.figure-1 img {
    width: 100%;
}

.figure-1 figcaption {
    padding: 8px 0px;
    line-height: 21.6px;
    border-bottom-color: rgb(231, 231, 232);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-family: Helvetica, sans-serif;
    font-size: 13.5px;       
    color: #626262;
    opacity: 0.75;
}

#table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    font-family: 'Open Sans', sans-serif;
    font-feature-settings: "tnum";
    font-size: 16px; 
}

#table tbody tr:nth-child(odd) {
    background-color: #f9f8f3ff;
}

#table th, #table td {
    padding: 10.125px 11.25px;
    border: 1px solid #ccd1d5;
}

#table th {
    border: none;
    font-weight: 700;
    color: #e2127A; 
}

#table td {    
    font-weight: 400;
    color: #424242;
}

#table tbody tr td:first-child {
    border-left: none;
}

#table tbody tr td:last-child {
    border-right: none;
}

#table tbody tr td:nth-child(2) {
    font-weight: bold;
}

ul.phones {
    line-height: 28.8px;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #424242;
}

.phones li a {
    line-height: 28.8px;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #e2127A;
}

.phones a:hover {
    color: #a32a66fa;
    text-decoration: none;
}
    
.figure-2 img {
    width: 100%;
}

.figure-2 figcaption {
    padding: 8px 0px;
    border-bottom-color: rgb(231, 231, 232);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    line-height: 21.6px;
    font-family: Helvetica, sans-serif;
    font-size: 13.5px;
    font-style: italic; 
    color: #626262;
}

.figure-2 figcaption span {
    font-style: normal;
    opacity: 0.75;    
}

p.correction {
    margin-bottom: 40px;
    margin-block-start: 0px;
    padding-bottom: 45px;
    border-bottom-color: rgb(231, 231, 232);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.correction strong{
    font-weight: bold;
}

span.box-title {
    padding: 10px;
    margin-bottom: 15px;
    background-color: #000000;
    line-height: 20.8px;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    color: #ffffff;        
}

h2.video-title {
    margin-bottom: 25px;
    line-height: 42.1875px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 600;
    font-size: 35.1562px;
    color: rgb(66,66,66);
}   

video {
    width: 100%;
}

#video figcaption {
    margin-top: 25px;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 28.8px;
    color: rgb(66,66,66); 
}

.more-news-title {
    padding-top: 12px;
    padding-right: 8px;
    margin-bottom:1px;
    font-family: 'Gemunu Libre', Helvetica, sans-serif;
    font-size: 34.2px;
    font-weight: 500;
    letter-spacing: 1.71px;
}

ul.more-news {
    margin-top:2px;
    padding: 0;
    list-style: none;    
}

.more-news li {
    padding: 8px 0px;
    list-style: none;
}
.more-news a {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    color: #e2127A;
}

.more-news a:hover {
    color: #a32a66fa
}

footer {
    width: 100%;
    padding: 50px 0 30px;
    background-color: #000000;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1100px;
}

.footer-logo {
    width: 200px;
}

.footer-list {
    flex-grow: 1;
}

.footer-list li {
    display: inline;
    padding-right: 4px;
}

.footer-list a {
    font-family: Helvetica, sans-serif;
    font-size: 13.5px;
    text-decoration: none;
    color: #e2127A;
}

.footer-list a:hover {
    color:#690f3c;
}

.dot {
    display: inline-block;
    margin-bottom: 2px;
    margin-left: 4px;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: white;
}

.voxmedia-logo {
    width: 150px;
    margin-bottom: 8px;
}

.rights {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    font-family: Helvetica, sans-serif;
    font-family: Helvetica, sans-serif;
    font-size: 13.5px;
    color: white;
}

.rights a {
    margin-bottom: 8px;
    text-decoration: none;
    color: #e2127A;
}

.rights a:hover {
    color:#690f3c;
}