* {
    box-sizing: border-box;
}

main {
    margin: 0 auto;
    max-width: 1100px;
}

h1 {
    color: #000000;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 600;
    font-size: 38px;
}

h3 {
    color: #424242;
    font-family: 'Gemunu Libre', Helvetica, sans-serif;
    font-size: 28.125px;
    font-weight: 500;
    line-height: 33.75px;
    margin-bottom: 10.8px;
}

figure {
    margin: 0;
}

article p {
    color: #424242;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 28.8px;
    margin-bottom: 21.6px;
}

article p a {
    color:#e2127A;
    cursor: pointer;
}

aside {
    float: right;
    position: relative;
    padding-top: 18px;
    padding-right: 22.5px;
    color: #e2127A;
    font-family: 'Gemunu Libre', Helvetica, sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0.72px;
    line-height: 36px;
    width: 45%;
    margin-left: 5%;
}

aside q::before {
    content: "";
}

#main-nav {
    background-color: #000;
    padding: 8px 0;
}

#main-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    color:#ffffff;
    display:block;
    height: inherit;
    font-family: 'Gemunu Libre', Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: #000;
}

#main-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#main-nav .nav-container {
    max-width: 1100px;
    margin: auto;
}

#main-nav li {
    width: 100%;
    text-align: center;
    position: relative;
}

#main-nav li:hover .submenu > li {
    display: block;
    top: 0px
}

.submenu li {
    display: none;
    position: absolute;
    width: 100%;
}

.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}

.arrow {
    margin-left: 4px;
    color: #e2127A;
    font-size: 7px;
}

.arrow:hover {
    color:#ffffff
}

h1.title {
    width: 80%;
}

.summary {
    color: #6A6A6A;
    font-family: 'Open Sans', sans-serif;
    font-size: 21.6px;
    font-style: italic;
    font-weight: 400;
}

.author-container {
    color: #6A6A6A;
    font-family: Helvetica, sans-serif;
    font-size: 13.5px;
    font-weight: 300;
}

.author-container a {
    text-decoration: none;
    color: #e2127A;
}

.disclosure {
    color: #6A6A6A;
    font-family: Helvetica, sans-serif;
    font-size: 13.5px;
    font-style: italic;
    font-weight: 400;
}

.disclosure a {
    text-decoration: none;
    color: #e2127A;
}

.container {
    width: 73%;
}

.figure-1 img {
    width: 100%;
}

.figure-1 figcaption {
    color: #626262;
    font-family: Helvetica, sans-serif;
    font-size: 13.5px;
    line-height: 21.6px;
    opacity: 0.75;
    padding: 4px 0px;
    border-bottom-color: rgb(231, 231, 232);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#table {
    font-family: 'Open Sans', sans-serif;
    font-feature-settings: "tnum";
    font-size: 16px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

#table tbody tr:nth-child(odd) {
    background-color: #f9f8f3ff;
}

#table th, #table td {
    padding: 10.125px 11.25px;
    border: 1px solid #ccd1d5;
}

#table th {
    color: #e2127A;
    font-weight: 700;
    border: none;
}

#table td {
    color: #424242;
    font-weight: 400;
}

#table tbody tr td:first-child {
    border-left: none;
}

#table tbody tr td:last-child {
    border-right: none;
}

#table tbody tr td:nth-child(2) {
    font-weight: bold;
}

.phones {
    color: #424242;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 28.8px;
}

.phones li a {
    color: #e2127A;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 28.8px;
}

.figure-2 img {
    width: 100%;
}

.figure-2 figcaption {
    color: #626262;
    font-family: Helvetica, sans-serif;
    font-size: 13.5px;
    font-style: italic;
    line-height: 21.6px;
    padding: 4px 0px;
    border-bottom-color: rgb(231, 231, 232);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.figure-2 figcaption span {
    font-style: normal;
    opacity: 0.75;    
}

.correction strong{
    font-weight: bold;
}

h2.video-title {
    color: rgb(66,66,66);
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 600;
    font-size: 35.1562px;
    line-height: 42.1875px;
    margin-bottom: 25px;
}

video {
    width: 100%;
}

#video figcaption {
    color: rgb(66,66,66);
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 28.8px;
    margin-top: 25px;
}

.more-news-title {
    font-family: 'Gemunu Libre', Helvetica, sans-serif;
    font-size: 34.2px;
    font-weight: 500;
    letter-spacing: 1.71px;
    padding-top: 12px;
    padding-right: 8px;
}

ul.more-news {
    list-style: none;
    padding: 0;
}

.more-news li {
    padding: 8px 0px;
    list-style: none;
}
.more-news a {
    color: #e2127A;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
}

footer {
    background-color: #000000;
    width: 100%;
    padding: 50px 0 30px;
}

.footer-container {
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    width: 200px;
}

.footer-list {
    flex-grow: 1;
}

.footer-list li {
    display: inline;
    padding-right: 4px;
}

.footer-list a {
    color: #e2127A;
    font-family: Helvetica, sans-serif;
    font-size: 13.5px;
    text-decoration: none;
}

.dot {
    display: inline-block;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 2px;
    margin-left: 4px;
}

.voxmedia-logo {
    width: 150px;
    margin-bottom: 8px;
}

.rights {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    text-align: right;
    font-family: Helvetica, sans-serif;
    font-family: Helvetica, sans-serif;
    font-size: 13.5px;
}

.rights a {
    margin-bottom: 8px;
    color: #e2127A;
    text-decoration: none;
}